{% extends 'base.html' %}
{% block content %}
<nav class="py-3">
    <ul class="navbar-nav flex-row border py-4">
        <li class="nav-item"></li>
        <li class="nav-item"></li>
    </ul>
</nav>
{% endblock %}