{% extends 'base.html' %}
{% block content %}

<div class="row mt-5 d-flex justify-content-center">
    <h3 class="d-flex justify-content-center mb-3">Logowanie</h3>
    <div class="col-6 d-flex justify-content-center align-self-center border">
        <form method="post" action="{% url 'logowanie' %}" class="d-block mt-3">
            {% csrf_token %}
            <label for="username">Nazwa użytkownika:</label><br>
            <input type="text" name="username" class="form-control"><br>
            <label for="password">Hasło:</label><br>
            <input type="password" name="password" class="form-control"><br>
            <input type="submit" class="btn btn-success mb-2" value="Zaloguj się"><br>

            {% if error %}
            <span class="d-flex text-danger my-3">
                {{ error }}
            </span>
            {% endif %}

        </form>

    </div>
</div>

{% endblock %}